

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
 }

 .parent-element {
    text-align: center;
  }
  
  .parent-element ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .parent-element ul li {
    margin: 0;
    padding: 0;
  }


body{
  background-color:#508CA4 ;
  color: whitesmoke;
  font-family: "Playfair Display", serif;
  
}

h1, h2{
  text-align: center;
  font-size: 1.6rem;
  color: #a7e1bc;
  font-weight: bolder;
}

.font_navbar{
  font-size: 1.3rem;
  font-family: "Playfair Display", serif;
}

h4{
  color: #a7e1bc;
  font-weight: bolder;
  text-align: center;
}

.card-text{
  text-align: center;
}

.btn{
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #508CA4 ;
  font-size: 15px;
}



