

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
 }

 .parent-element {
    text-align: center;
  }
  
  .parent-element ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .parent-element ul li {
    margin: 0;
    padding: 0;
  }


body{
  background-color: beige ;
  color: black;
  font-family: "Playfair Display", serif;
  
}

h1, h2{
  text-align: center;
  font-size: 1.6rem;
  color: #3ab54a;
  font-weight: bolder;
 
}

.font_navbar{
  font-size: 1.3rem;
  font-family: "Playfair Display", serif;
 
}

h4{
  color: #FFC900;
  font-weight: bolder;
  text-align: center;
}

.card-text{
  text-align: center;
}

.btn{
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFC900 ;
  font-size: 15px;
  font-weight: bolder;
}

.btn_teams{
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFC900 ;
  font-size: 15px;
  font-weight: bolder;
}

#logo {
  border-radius: 1000px;
}

.full-height {
  height:  100vh;
}

h5 {
  text-align: center;
}