.text-color {
    color: #ADD9F4;
    font-family: cursive;
    
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
 }

 .parent-element {
    text-align: center;
  }
  
  .parent-element ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .parent-element ul li {
    margin: 0;
    padding: 0;
  }

  .bg-1{

    background-color: #608399;
  }